<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title></title>
    <!--[if (mso 16)]>
    <style type="text/css">
    a {text-decoration: none;}
    </style>
    <![endif]-->
    <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]-->
    <!--[if gte mso 9]>
<noscript>
         <xml>
           <o:OfficeDocumentSettings>
           <o:AllowPNG></o:AllowPNG>
           <o:PixelsPerInch>96</o:PixelsPerInch>
           </o:OfficeDocumentSettings>
         </xml>
      </noscript>
<![endif]-->
    <!--[if mso]><xml>
    <w:WordDocument xmlns:w="urn:schemas-microsoft-com:office:word">
      <w:DontUseAdvancedTypographyReadingMail/>
    </w:WordDocument>
    </xml><![endif]-->
  </head>
  <body class="body">
    <div dir="ltr" class="es-wrapper-color">
      <!--[if gte mso 9]>
			<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
				<v:fill type="tile" color="#fafafa"></v:fill>
			</v:background>
		<![endif]-->
      <table width="100%" cellspacing="0" cellpadding="0" class="es-wrapper">
        <tbody>
          <tr>
            <td valign="top" class="esd-email-paddings">
              <table cellspacing="0" cellpadding="0" align="center" class="es-header esd-header-popover">
                <tbody>
                  <tr>
                    <td align="center" class="esd-stripe">
                      <table width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" class="es-header-body">
                        <tbody>
                          <tr>
                            <td align="left" class="esd-structure es-p10t es-p10b es-p20r es-p20l">
                              <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td width="560" valign="top" align="center" class="es-m-p0r esd-container-frame">
                                      <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <td align="center" class="esd-block-image" style="font-size:0">
                                              <a target="_blank">
                                                <img width="390" src="https://flqtxio.stripocdn.email/content/guids/CABINET_d68a49a0424617c7a57ef9d41696109f5979a1a08fedd30e240e47461ebb92f4/images/university_dorm_office_8xe.png" alt="" class="adapt-img">
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellspacing="0" cellpadding="0" align="center" class="es-content">
                <tbody>
                  <tr>
                    <td align="center" class="esd-stripe">
                      <table width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" class="es-content-body" style="border-top:10px solid #660018;border-bottom:10px solid #660018">
                        <tbody>
                          <tr>
                            <td align="left" class="esd-structure es-p30t es-p20r es-p20l">
                              <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td width="560" valign="top" align="center" class="esd-container-frame">
                                      <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <td align="left" class="esd-block-text">
                                              <p style="color:#666666">
                                                {{ formattedDate }}
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td background="https://flqtxio.stripocdn.email/content/guids/CABINET_d68a49a0424617c7a57ef9d41696109f5979a1a08fedd30e240e47461ebb92f4/images/hau_angel_pt_2.png" align="left" class="esd-structure es-p20t es-p20r es-p20l" style="background-image:url(https://flqtxio.stripocdn.email/content/guids/CABINET_d68a49a0424617c7a57ef9d41696109f5979a1a08fedd30e240e47461ebb92f4/images/hau_angel_pt_2.png);background-repeat:no-repeat;background-position:right center;background-size:contain">
                              <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td width="560" valign="top" align="center" class="esd-container-frame">
                                      <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <td align="left" class="esd-block-text es-p5t es-p10b">
                                              <h3 class="es-m-txt-l" style="color:#666666">
                                                Dear {{ name }},
                                              </h3>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td align="left" class="esd-block-text es-p5t es-p10b">
                                              <p>
                                                Thank you for submitting your dormitory application for the 2025 semester. We have received your application with the following information:&nbsp;
                                              </p>
                                              <p>
                                                &nbsp;
                                              </p>
                                              <p style="text-align:justify;margin-left:40px">
                                                &nbsp;<b>Student No*</b>: {{ studentNo }}&nbsp;
                                              </p>
                                              <p style="text-align:justify;margin-left:40px">
                                                &nbsp;<b>Dormitory Type</b>: {{ queueType }}&nbsp;
                                              </p>
                                              <p style="text-align:justify;margin-left:40px">
                                                &nbsp;<b>Your Email</b>: {{ email }}&nbsp;
                                              </p>
                                              <p>
                                                ​
                                              </p>
                                              <p>
                                                Your application is now queued for processing. We’ll review it as soon as possible and you will be contacted on the status concerning your application along with further instructions.&nbsp;
                                              </p>
                                              <p>
                                                ​
                                              </p>
                                              <p>
                                                For the meantime, if you have questions or need assistance, please contact us at [Email / Phone Number].Thank you for considering [Dormitory Name/University Name], and we look forward to welcoming you soon!&nbsp;
                                              </p>
                                              <p>
                                                ​
                                              </p>
                                              <p>
                                                &nbsp;Best regards,&nbsp;
                                              </p>
                                              <p>
                                                &nbsp;[Housing Office/Dormitory Management]
                                              </p>
                                              <p>
                                                &nbsp;[University/Institution Name]
                                              </p>
                                              <p>
                                                <br>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellspacing="0" cellpadding="0" align="center" class="es-content esd-footer-popover">
                <tbody>
                  <tr>
                    <td align="center" class="esd-stripe">
                      <table width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" class="es-content-body">
                        <tbody>
                          <tr>
                            <td align="left" class="esd-structure es-p20">
                              <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td align="center" width="560" valign="top" class="esd-container-frame">
                                      <table cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td esdev-links-color="#666666" align="center" class="esd-block-text es-p10b">
                                              <p style="color:#666666">
                                                This email was sent to you from Company Email Address
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td align="center" esdev-links-color="#666666" class="esd-block-text es-p10b">
                                              <p style="color:#666666">
                                                <a target="_blank" style="color:#666666">Home</a> | <a target="_blank" style="color:#666666">Forward</a> | <a target="_blank" style="color:#666666">Unsubscribe</a>
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td esdev-links-color="#666666" align="center" class="esd-block-text">
                                              <p style="color:#666666">
                                                Copyright © 2018 University Dormitory Office, All Rights Reserved.
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>